@-moz-document url-prefix() {
html{
    scrollbar-width: none;
}
}
body {
    margin: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#lid {
    position: absolute;
    margin-top: 63px;
    margin-left: 10px;
    color: #494a4d;
}

#header {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#soso {
    position: absolute;
    left: 10;
    bottom: 26;
    color: #979899;
}

.textBig {
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    font-weight:500;
}

.dark {
    color: #f0f1f2;
}

.ngblue {
    color: #00ace5;
}

.ngred {
    color: #E5381D;
}

.textSmall {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
}

.textSmaller {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
}

@media (min-width: 700px) {
    #header {
        margin-top: 20px;
        margin-left: 30px;
    }
    
    #lid {
        margin-top: 52px;
        margin-left: 30px;
    }

    #soso {
        left: 30px;
        bottom: 20px;
    }

    .textSoso {
        font-size: 15px;
    }
}