body {
    background-color: #f7f7f7;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    margin: 0px; 
    padding: 0px;
    line-height: 1;
    font-weight:700;
    font-size: 50px;
    margin-bottom: 0;
}

li {
    cursor: pointer;
    list-style-type: none;
    z-index: 110;
}

ul {
    width: 90%;
    margin-left: 21px;
    padding: 0;
    min-block-size: 30vh;
    /* background-color: crimson; */
}

iframe {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: white;
}

#limb {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: white;
    opacity: 0.5;
    z-index: 100;
}

#showImg {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: #212226 0px 0px 50px;
    max-height: 710px;
    max-width: 90%;
    height: 90%;
}

#mainContent {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    max-width: 1400px;
    /* height: 100%; */
    background-color: white;
}

#content {
    position: relative;
    width: 98%;
    margin-left: 1%;
}

#showConteiner {
    position: fixed;
    display: none;
    justify-content : space-around;
    align-items: center;
    height: 100vh;
    z-index: 110;
}

#showConteinerDiv {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#ra {
    position: absolute;
    cursor: pointer;
    text-align: left;
    right: 0;
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#la {
    position: absolute;
    cursor: pointer;
    text-align: left;
    left: 0;
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #x {
    position: absolute;
    cursor: pointer;
    text-align: left;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.hiddenIteractives {
    opacity: 0;
}

.hiddenIteractives:hover {
    opacity: 1;
}

.centerImg {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    margin: auto;
}

#menu {
    position: absolute;
    display: none;
    margin-right: 1%;
    right: 0;
    top: 0;
    width: 23%;
    height: 100vh;
    z-index: 110;
    /* background-color: greenyellow; */
}

#menuFix {
    position: fixed;
    /* background-color: thistle; */
}

#info {
    position: absolute;
    height: 100%;
    left: 21px;
    visibility: hidden;
    margin-top: 42pt;
    /* background-color: lawngreen; */
}

#li0div {
    height: 100vh;
    /* background-color: wheat; */
}

#li4div {
    position: relative;
    height: 55vh;
    /* background-color: bisque; */
}

.col2 {
    /* position: relative; */
    display: grid;
    grid-template-columns: [column1] 1fr;
    grid-gap: 2.5px;
}

.cntnr {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center;
}

.col4 {
    /* position: relative; */
    display: grid;
    grid-template-columns: [column1] 1fr [column2] 1fr [column3] 1fr;
    grid-gap: 2.5px;
}

.lidiv {
    position: relative;
    min-height: 50vh;
}

hr {
    width: 100%;
    margin-top: 50px;
}

.subHeader {
    position: relative;
    margin-top: 15px;
    padding-top: 50px;
    padding-bottom: 100px;
    /* background-color: gold; */
}

.textSmall {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
}

.textSmaller {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
}

.bl {
    color: #212226;
}

.red {
    color: #bf381d;
}

.wh {
    color: white;
}

.or {
    color: #ee9100;
}

.intText {
    color: #212226;
}
.intText:hover {
    color: #bf381d;
}

.intTextWh {
    color: white;
    text-shadow: -1px -1px 0 #212226, 1px -1px 0 #212226, -1px 1px 0 #212226, 1px 1px 0 #212226;
}
.intTextWh:hover {
    color: #bf381d;
    text-shadow: -1px -1px 0 #212226, 1px -1px 0 #212226, -1px 1px 0 #212226, 1px 1px 0 #212226;
}

.textBig {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 42px;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
}

.textBiger {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 64px;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
}

.square {
    position: relative;
    width: 100%;
    z-index: 90;
}

.squareSmall {
    cursor: pointer;
    position: relative;
    width: 100%;
    z-index: 90;
}

.rect {
    position: relative;
    width: 200%;
    z-index: 90;
    grid-column: span 1;
}

.showCntnr {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: 0;
    z-index: 100;
}

.show {
    position: absolute;
    z-index: 100;
    cursor: pointer;
}

.x {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: right;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 0px;
    right: 7px;
    z-index: 100;
}

.info {
    margin-left: 21px;
}

#logo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.logo {
    height: 64px;
    margin: auto;
}

a:link, a:active, a:visited {
    color: #ee9100;
    text-decoration: none;
}

a:hover {
    color: #bf381d;
    text-decoration: none;
}


@media (min-width: 700px) {
    h1 {
        font-size: 150px
    }
    .col4 {
        grid-template-columns: [column1] 1fr [column2] 1fr [column3] 1fr [column3] 1fr;
    }

    #content {
        width: 75%;
    }

    #li1divCntnt {
        grid-template-columns: [column1] 1fr [column2] 1fr;
    }

    .rect {
        grid-column: span 2;
    }

    #menu {
        display: inline;
    }
}